/*ROOT VARIABLES////////////////////////////////////////////////////////////////////////////////////////////////*/
:root   {
        /*Colores*/
        --blanco-principal:   #FFFFFF;
        --negro-principal:    #000000;
        --amarillo-principal: #ffd414;
        --header-nav:         #a29592;
        --a-color:            #85716c;


        /*Fuentes*/
        --fuente-heading:   'PT Sans',  sans-serif;
        --fuente-parrafos:  'Open Sans',    sans-serif;
}

/*HTML//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
html    {
    box-sizing: border-box;
    font-size: 60.5%;
}
*,*::before,    *:after {
    box-sizing: inherit;
}

/*BODY//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
body    {
    font-family: --var(--fuente-parrafos);
    font-size: 1.4rem;
    line-height: 2;
}

/*GLOBALES////////////////////////////////////////////////////////////////////////////////////////////////////*/
.contenedor {
        max-width: 250rem;
        width: 95%;
        margin: 0   auto;
}

a  {
    text-decoration: none;
    border: none;
}

h1, h2, h3  {
    font-family: var(--fuente-heading);
}

h1  {font-size: 4.8rem;}    h2  {font-size: 4rem;}  h3  {font-size: 3.5;}

img {max-width: 100%;}

/*UTILIDADES////////////////////////////////////////////////////////////////////////////////////////////////////*/
.no-margin  {margin: 0;}
.no-padding {padding: 0;}
.centrar-texto  {text-align: center;}

/*HEADER/////////////////////////////////////////////////////////////////////////////////////////////////////*/
.nav_header {

    padding: 0.5rem;
    background-color: var(--header-nav);
    padding-bottom: 0.3rem  0   0.3rem  0;
}

.a_header   {
    margin: 0  5rem  0   5rem;
    padding: 0.2rem 0.4rem  0.2rem 0.4rem;
    background-color: var(--a-color);
    border-radius: 1rem;
    color: var(--blanco-principal);
}

.h1_header  {
    background-color: var(--negro-principal);
    color: var(--amarillo-principal);
}
/*SERVICIOS/////////////////////////////////////////////////////////////////////////////////////////////////////*/
.aside-servicios    {
    
}



/*FOOTER/////////////////////////////////////////////////////////////////////////////////////////////////////*/
.footer {
    background-color: var(--negro-principal);
    color:  var(--blanco-principal);
    padding: 3.5rem   0   3.5rem    0;
    font-size: 2rem;
}