/*ROOT VARIABLES////////////////////////////////////////////////////////////////////////////////////////////////*/
:root   {
        /*Colores*/
        --blanco-principal:   #FFFFFF;
        --negro-principal:    #000000;
        --amarillo-principal: #ffd414;
        --header-nav:         #a29592;
        --a-color:            #85716c;


        /*Fuentes*/
        --fuente-heading:   'PT Sans',  sans-serif;
        --fuente-parrafos:  'Open Sans',    sans-serif;
}

/*HTML//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
html    {
    box-sizing: border-box;
    font-size: 60.5%;
}
*,*::before,    *:after {
    box-sizing: inherit;
    max-width: 100%;
}

/*BODY//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
body    {
    font-family: --var(--fuente-parrafos);
    font-size: 1.4rem;
    line-height: 2;
    max-width: 100%;
}

/*GLOBALES////////////////////////////////////////////////////////////////////////////////////////////////////*/
.contenedor {
        max-width: 100%;
        width: 95%;
        margin: 0   auto;
}

a  {
    text-decoration: none;
    border: none;
}

h1, h2, h3  {
    font-family: var(--fuente-heading);
}

h1  {font-size: 4.8rem;}    h2  {font-size: 4rem;}  h3  {font-size: 3.5;}

img {max-width: 100%;}

/*UTILIDADES////////////////////////////////////////////////////////////////////////////////////////////////////*/
.no-margin  {margin: 0;}
.no-padding {padding: 0;}
.centrar-texto  {text-align: center}

/*HEADER/////////////////////////////////////////////////////////////////////////////////////////////////////*/
.nav_header {

    padding: 0.5rem;
    background-color: var(--header-nav);
    padding:1.4rem  0   1.4rem  0;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-evenly;
}

.nav_header a   {
    padding: 0.5rem   ;
    background-color: var(--a-color);
    border-radius: 1rem;
    color: var(--blanco-principal);
    font-weight: bold;
}

.nav_header a:hover {
    color: var(--negro-principal);
    background-color:darkgoldenrod;
}

.titulobg   {
    background-color: var(--negro-principal);
    height: 10rem;
    margin-bottom: 5rem
}

/* Explanation in JS tab */

/* Cool font from Google Fonts! */
@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');

#container {
	/* Center the text in the viewport. */
	width: 100vw;
	height: 80pt;
	top: 0;
	bottom: 0;
    color: var(--amarillo-principal);
	
	/* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
	filter: url(#threshold) blur(0.6px);
}

/* Your average text styling */
#text1, #text2 {
	position: absolute;
	width: 100%;
	display: inline-block;
	
	font-family: 'Raleway', sans-serif;
	font-size: 40pt;
	
	text-align: center;
	
	user-select: none;
}
/*NOSOTROS/////////////////////////////////////////////////////////////////////////////////////////////////////*/
.gridN    {
    display: grid;
    grid-template-columns:  repeat(2,  1fr);
    column-gap: 10rem;
    margin-bottom: 7rem;
    place-content: center;

}

.años50 {
    grid-column: 1/1;
    text-align: end;
}

.nosotros-text    {
    grid-column: 2/2;
    align-self: center;
    font-size: 1.8rem;
}

/*SEPARACIÓN/////////////////////////////////////////////////////////////////////////////////////////////////*/
.linea-sep  {
    max-width: 100%;
    height: 0.2rem;
    border-bottom: 0.35rem solid   black;
    margin-bottom: 7rem;
}

/*FOOTER/////////////////////////////////////////////////////////////////////////////////////////////////////*/
.footer {
    background-color: var(--negro-principal);
    color:  var(--blanco-principal);
    padding: 3.5rem   0   3.5rem    0;
    font-size: 2rem;
}

.footer__div {
    display: grid;
    grid-template-columns: repeat(2,    1fr);
}

.footer__div--nombre    {
    grid-column: 1/2;

}

.footer__contactos  {
    display: grid;
    grid-template-columns: repeat(2,    1fr);
    place-content: center;
    place-items: center;
    margin: 0;
    padding: 0;
}

.footer__div--telefonos { 
    grid-column: 1/3;
    grid-row: 1/2;
    column-gap: 2.5rem;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.footer__div--correo    {
    grid-column: 1/3;
    grid-row: 2/3;
    margin: 0;
    padding: 0;
}

.footer__generic    {
    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;
    margin: 0;
    column-gap: 0.5rem;
}